:root {
  font-size: 62.5%;

  /* zinc 50 */
  --white-main: oklch(98.5% 0 0);

  /* zinc 100 */
  --white-sub: oklch(96.7% 0.001 286.375);

  /* zinc 900 */
  --dark-main: oklch(21% 0.006 285.885);

  /* zinc 700 */
  --dark-sub: oklch(37% 0.013 285.805);

  /* amber 100 */
  --primary-color: oklch(96.2% 0.059 95.617);

  /* sky 950 */
  --blue: oklch(29.3% 0.066 243.157);

  --white-bg: #fdfdfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
